<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FRC_IPChanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FRC_IPChanger.Properties.Settings>
            <setting name="team1ip" serializeAs="String">
                <value>10.4.94.5</value>
            </setting>
            <setting name="team2ip" serializeAs="String">
                <value>10.0.70.5</value>
            </setting>
            <setting name="team3ip" serializeAs="String">
                <value>10.0.14.5</value>
            </setting>
            <setting name="team1sub" serializeAs="String">
                <value>255.255.255.0</value>
            </setting>
            <setting name="team2sub" serializeAs="String">
                <value>255.255.255.0</value>
            </setting>
            <setting name="team3sub" serializeAs="String">
                <value>255.255.255.0</value>
            </setting>
            <setting name="team1gat" serializeAs="String">
                <value>10.4.94.1</value>
            </setting>
            <setting name="team2gat" serializeAs="String">
                <value>10.0.70.1</value>
            </setting>
            <setting name="team3gat" serializeAs="String">
                <value>10.0.14.1</value>
            </setting>
            <setting name="team1name" serializeAs="String">
                <value>494</value>
            </setting>
            <setting name="team2name" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="team3name" serializeAs="String">
                <value>Skippy-JR</value>
            </setting>
            <setting name="adapterListLimit" serializeAs="String">
                <value>False</value>
            </setting>
        </FRC_IPChanger.Properties.Settings>
    </userSettings>
</configuration>